
@{
    Layout = null;
}

<h3>
    Mvc Kamo Tablo Örneği 
</h3>
<br/>
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>